fastapi>=0.100.0
uvicorn[standard]>=0.22.0
sqlalchemy>=2.0.0
pydantic>=2.0.0
pydantic-settings>=2.0.0
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
python-multipart>=0.0.6
pdfplumber>=0.9.0
pymupdf>=1.22.0
google-cloud-vision>=3.4.0
pillow>=9.5.0
bcrypt>=4.0.1
email-validator>=2.0.0
httpx>=0.24.0
pytest>=7.0.0
upstash-redis>=1.0.0
pyjwt>=2.8.0
supabase>=2.0.0
pytest-html
pytest-cov
pytest-ordering
python-dotenv
fpdf2
psycopg2-binary>=2.9.0
psycopg2-binary>=2.9.0
